<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Success ATC Tests">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="register"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="tests.ZeroTest"/>
        </classes>
    </test>
</suite>




