<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Zero Tests">
        <classes>
            <class name="tests.ZeroTest"/>
        </classes>
    </test>
<!--    <test verbose="2" preserve-order="true" name="All Tests">-->
<!--        <packages>-->
<!--            <package name="tests"/>-->
<!--        </packages>-->
<!--    </test>-->
</suite>




